@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	margin: 0;
	font-size:10px;
}

h1,h2,h3, h4 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header{

  min-height: 200px; 
  color: #ffffff; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  outline:1px solid yellow;
}

.header::after {
  content: "";
  background-color: #1c1e41;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  position: relative;
  z-index: 1; 
  margin-left:auto;
  margin-right:auto;
  outline:1px solid red;

}

.header{
  position: relative;
}

.logo {
  outline:1px solid grey;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.logo-s {
  fill:#fff;
  outline:1px solid grey;
}

.header-title {
  box-sizing: border-box;
  text-align:left;
  margin:auto;
  padding-left:0;
  outline:1px solid grey;
}

.titles {
  font-family: 'Open Sans', sans-serif; 
  font-weight:700;
  text-transform:uppercase;
}

.header-footer {
 outline:1px solid green;
 
}

.header-btn {
  display:flex; 
  align-items: center;
  background-color: #5e42b0;
  border-radius:50px;
}

.google {
 display:box;
 fill:#fff;
 outline:1px solid grey;
}

.google_text {
  display:box;
  color:#fff;
  text-transform:uppercase;
  outline:1px solid grey;
  text-align: left;
}

@media (max-width:640px) {
  .header {
    background-image: url("../images/football_767.jpg");
  }
  .container {
  	width:87.5%;
  }
  .logo {
  	width:47.14%;
  	padding-top:3.3rem;
  }
  .header-title {
  	margin-top:13.6rem;
  	font-size: 2.8rem;
  }

  .titles:nth-child(2) {
    margin-left:13.75%;
}
  .header-footer {
    margin-top:9rem;
    padding-bottom: 8.4rem;
  }

.header-btn {
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:25.6%;
  width:100%;
 }

.google {
 width:1.9rem;
 }

.google_text {
  font-size:0.8rem;
  padding-left:0.9rem;
 }
}

@media (min-width:641px) and (max-width:960px) {
  .header {
    background-image: url("../images/football_767.jpg");
  }
  .container {
  	width:97.78%;
  	padding-left:1.11%;
  	padding-right:1.11%;
  }
  .logo {
  	width:26.47%;
  	padding-top:4rem;
  }
  
  .header-title {
  	margin-top:18.1rem;
  	font-size: 6.4rem;
  	padding-left:7.73%;
  }

  .titles:nth-child(2) {
    margin-left:22.13%;
}
  .header-footer {
    margin-top:31.3rem;
    padding-bottom: 9.1rem;
    display:flex;
    justify-content:center;
  }

.header-btn {
  padding-top:2.6rem;
  padding-bottom:2.5rem;
  padding-left:5.47%;
  width:41.47%;
 }

.google {
 width:5.6rem;
 }

.google_text {
  font-size:1.4rem;
  padding-left:3.6rem;
 }
}