@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	margin: 0;
}

h1,h2,h3, h4 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header{

  min-height: 200px; 
  color: #ffffff; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  outline:1px solid yellow;
}

.header::after {
  content: "";
  background-color: #1c1e41;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  position: relative;
  z-index: 1; 
  margin-left:auto;
  margin-right:auto;
  outline:1px solid grey;

}

.header{
  position: relative;
}

.logo {
  outline:1px solid grey;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.logo-s {
  fill:#fff;
  outline:1px solid grey;
}

.header-title {
  box-sizing: border-box;
  text-align:left;
  margin:auto;
  padding-left:0;
  outline:1px solid grey;
}

.titles {
  font-family: 'Open Sans', sans-serif; 
  font-weight:700;
  text-transform:uppercase;
}

h1 span {
display: block;
}

.header-footer {
 outline:1px solid green;
 
}

.header-btn {
  display:flex; 
  align-items: center;
  background-color: #5e42b0;
  border-radius:50px;
}

.icon-google {
 display:box;
 fill:#fff;
 outline:1px solid grey;
}

.google_text {
  display:box;
  align-items:baseline;
  color:#fff;
  text-transform:uppercase;
  outline:1px solid grey;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

/* Секция athlets*/
.athlets-title {
 color:#e7e7e7;
 text-transform: uppercase;
 font-family: 'Open Sans', sans-serif;
 font-weight:700;
}

 .athlets-info:nth-child(2) {
  background-color: #f5f4f9;
  }

.athlets-info:nth-child(3) {
  background-color: #5e42b0;
  color:#fff; 
 }

.athlets-info-title {
  display:flex;
}

.athlets-info-number {
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  color:#000;
}

 .athlets-info-number::after {
   content: "";
   display:block;
   background-color: #5e42b0;
   height:4px;
   }
 
 .athlets-info:nth-child(3) .athlets-info-number::after {
   background-color: #fff;
   }

.athlets-info-text {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
}

.athlets-info-content {
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
}

/*Оптимальная загрузка шапки*/
@media (max-width:1023px) {
   .header {
    background-image: url("../images/football_767.jpg");
  }
}

@media (min-width:1024px) and (max-width:1600px)  {
   .header {
    background-image: url("../images/football_1280.jpg");
  }
}

@media (min-width:1601px) {
   .header {
    background-image: url("../images/football_1920.jpg");
  }
}

/* @media (max-width:640px)    1  ============*/
@media (max-width:640px) {
 
  .container {
  	width:87.5%;
    padding-top:33px;
   
  }
  .logo {
    width:47.14%;
  }
  .header-title {
  	margin-top:136px;
  	font-size: 1.75rem;
  }

  h1 span {
    margin-left:15.71%;
}
  .header-footer {
    margin-top:90px;
    padding-bottom: 84px;
  }

.header-btn {
  padding-top:10px;
  padding-bottom:10px;
  padding-left:29.28%;
 }

.header-btn:nth-child(2) {
margin-top:14px;
}

.icon-google {
 width:6.79%;
 }

.google_text {
  font-size:.5rem;
  margin-left:3.2%;
 }

 /* Блок athlets ====№ 1 ===== 2 секция =========================*/

 .athlets-title {
  font-size:3.125rem;
  }

.athlets-picture {
  display:block;
  margin-top:20px;
  text-align:center;
 }


 .athlets-info {
  padding-top:60px;
  padding-bottom:55px;
 }
 .athlets-info:nth-child(1) {
  padding-top:29px;
 }


 .athlets-info-number {
   font-size: 0.875rem;
   width:17px;
 }

 .athlets-info-text{
  font-size: 1.4375rem;
  color:#c1c1c1;
  margin-left:2.857%;
}

.athlets-info-content {
  margin-top:27px;
  font-size:0.9375rem;

}

}
/*  min-width:641px) and (max-width:960px   2  =======*/
@media (min-width:641px) and (max-width:960px) {
  
  .container {
  	box-sizing:border-box;
    width:97.66%;
  	padding-left:3%;
  	padding-right:3%;
    padding-top:40px;
    padding-bottom: 91px;
  }
  .logo {
  	width:27%;
  }
  
  .header-title {
  	margin-top:181px;
  	font-size:  4rem;
  	padding-left:7.73%;
  }

  h1 span {
    margin-left:15%;
}
  .header-footer {
    margin-top:313px;
    display:flex;
    justify-content:center;
    align-items: baseline;
  }

.header-btn {
  padding-top:25px;
  padding-bottom:25px;
  padding-left:5.47%;
  width:41.47%;
  box-sizing: border-box;
  outline:1px solid red;
 }

.header-btn:nth-child(2) {
margin-left:4%;
}
 
 .icon-google {
 width:11.58%;
 }

.google_text {
  font-size:.875rem;
  margin-left:8.68%;
 }

 /* Блок athlets ===№ 2 ====== 2 секция =========================*/
 .athlets {
  position:relative;
 }
 
  .athlets-picture {
    display:block;
    position:absolute;
    top:90px;
    left:-200px;
    }

 .athlets-title {
  padding:0;
  margin:0;
  padding-top:45px;
  font-size:5rem;
  padding-left:38%;
  outline: 1px solid red;
 }
 

 .athlets-info {
  padding-top:42px;
  padding-bottom:38px;
  padding-left:38%;
  outline:1px solid yellow;
 }
 
 .athlets-info:nth-child(1) {
   padding-top:60px;
 }

 .athlets-info-number {
   font-size: 14px;
   width:20px;
   vertical-align: middle;
   outline:1px solid green;
 }

 .athlets-info-text{
  font-size: 2rem;
  color:#c1c1c1;
  margin-left:10px;
  outline:1px solid green;
}

.athlets-info-content {
  margin-top:30px;
  font-size:1rem;

}

}
/* (min-width:961px) and (max-width:1920px)   3    ================*/
@media (min-width:961px) and (max-width:1920px) {
  
  .container {
    box-sizing: border-box;
    width:81.25%;
    padding-left:.61%;
    padding-right:.77%;
    padding-top:44px;
    padding-bottom: 110px;
  }
  .logo {
    width:12.18%;
  }
  
  .header-title {
    margin-top:296px;
    font-size:  5.625rem;
    padding-left:0;
  }

  h1 span {
    margin-left:28.846%;
}
  .header-footer {
    margin-top:223px;
    display:flex;
    justify-content:center;
    align-items: baseline;
  }

.header-btn {
  padding-top:25px;
  padding-bottom:24px;
  padding-left:2.5%;
  width:19.936%;
  box-sizing: border-box;
  outline:1px solid red;
 }

.header-btn:nth-child(2) {
margin-left:3.2%;
}
 
 .icon-google {
 width:12.86%;
 }

.google_text {
  font-size:0.875rem;
  margin-left:8.039%;
 }

 /* Блок athlets ====№ 3 ===== 2 секция =========================*/
 .athlets-title {
  font-size:5rem;
 }

}