@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	margin: 0;
	font-size:10px;
}

h1,h2,h3, h4 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header{

  min-height: 200px; 
  color: #ffffff; 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  outline:1px solid yellow;
}

.header::after {
  content: "";
  background-color: #1c1e41;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  position: relative;
  z-index: 1; 
  margin-left:auto;
  margin-right:auto;
  outline:1px solid red;

}

.header{
  position: relative;
}

.logo {
  outline:1px solid grey;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.logo-s {
  fill:#fff;
  outline:1px solid grey;
}

.header-title {
  box-sizing: border-box;
  text-align:left;
  margin:auto;
  padding-left:0;
  outline:1px solid grey;
}

.titles {
  font-family: 'Open Sans', sans-serif; 
  font-weight:700;
  text-transform:uppercase;
}

h1 span {
display: block;
}

.header-footer {
 outline:1px solid green;
 
}

.header-btn {
  display:flex; 
  align-items: center;
  background-color: #5e42b0;
  border-radius:50px;
}

.header-btn:nth-child(2) {
margin-top:14px;
}

.icon-google {
 display:box;
 fill:#fff;
 outline:1px solid grey;
}

.google_text {
  display:box;
  color:#fff;
  text-transform:uppercase;
  outline:1px solid grey;
  text-align: left;
}

/*Оптимальная загрузка шапки*/
@media (max-width:1023px) {
   .header {
    background-image: url("../images/football_767.jpg");
  }
}

@media (min-width:1024px) and (max-width:1600px)  {
   .header {
    background-image: url("../images/football_1280.jpg");
  }
}

@media (min-width:1601px) {
   .header {
    background-image: url("../images/football_1920.jpg");
  }
}

/* Стили по заданию */
@media (max-width:640px) {
 
  .container {
  	width:280px;
    padding-top:33px;
    padding-bottom: 84px;
  }
  .logo {
  	width:132px;
  }
  .header-title {
  	margin-top:136px;
  	font-size: 28px;
  }

  h1 span {
    margin-left:44px;
}
  .header-footer {
    margin-top:90px;
  }

.header-btn {
  padding-top:10px;
  padding-bottom:10px;
  padding-left:82px;
  
 }

.icon-google {
 width:19px;
 }

.google_text {
  font-size:8px;
  margin-left:9px;
 }
}

@media (min-width:641px) and (max-width:960px) {
  
  .container {
  	width:750px;
  	padding-left:23px;
  	padding-right:24px;
    padding-top:40px;
    padding-bottom: 91px;
  }
  .logo {
  	width:203px;
  }
  
  .header-title {
  	margin-top:181px;
  	font-size:  64px;
  	padding-left:80px;
  }

  h1 span {
    margin-left:108px;
}
  .header-footer {
    margin-top:313px;
    display:flex;
    justify-content:center;
    align-items: baseline;
  }

.header-btn {
  padding-top:25px;
  padding-bottom:25px;
  padding-left:41px;
  width:311px;
  box-sizing: border-box;
  outline:1px solid red;
 }

.header-btn:nth-child(2) {
margin-left:30px;
}
 
 .icon-google {
 width:36px;
 }

.google_text {
  font-size:14px;
  margin-left:27px;
 }
}

@media (min-width:961px) and (max-width:1920px) {
  
  .container {
    width:1560px;
    padding-left:11.75px;
    padding-right:14.81px;
    padding-top:44px;
    padding-bottom: 110px;
  }
  .logo {
    width:190px;
  }
  
  .header-title {
    margin-top:296px;
    font-size:  90px;
    padding-left:0;
  }

  h1 span {
    margin-left:450px;
}
  .header-footer {
    margin-top:223px;
    display:flex;
    justify-content:center;
    align-items: baseline;
  }

.header-btn {
  padding-top:25px;
  padding-bottom:24px;
  padding-left:39px;
  width:311px;
  box-sizing: border-box;
  outline:1px solid red;
 }

.header-btn:nth-child(2) {
margin-left:50px;
}
 
 .icon-google {
 width:40px;
 }

.google_text {
  font-size:14px;
  margin-left:25px;
 }
}